.khan__buy-link {
  text-decoration: none;
  color: #2f80ed;
  margin-left: 48px;
  line-height: 42px;
  font-size: 30px;
  transition: opacity 1.5s ease-out;
  align-self: flex-start;
}

.khan__buy-link:hover {
  opacity: 0.5;
}
