@import url(__bref/two-columns__bref.css);
@import url(__main-text/two-columns__main-text.css);
@import url(__paragraph/two-columns__paragraph.css);

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
