@import url(__bref/two-columns__bref.css);
@import url(__main-text/two-columns__main-text.css);
@import url(__paragraph/two-columns__paragraph.css);
@import url(__span-accent/two-columns__span-accent.css);

.two-columns {
  display: flex;
  width: 80%;
  margin: 100px 0;
  justify-content: space-between;
}
