@import url(__container/khan__container.css);
@import url(__book/khan__book-container.css);
@import url(__author/khan__author.css);
@import url(__book/khan__book-pic.css);
@import url(__buy-link/khan__buy-link.css);
@import url(__quote/khan__quote-author-subline.css);
@import url(__quote/khan__quote-author.css);
@import url(__quote/khan__quote.css);
@import url(__title/khan__title.css);

.khan {
  background-color: #f2f2f2;
  padding-top: 105px;
}
