@import url(__cell/table__cell.css);
@import url(__heaging/table__heaging.css);
@import url(__text/table__text.css);
@import url(__cell_theme_dark/table__cell_theme_dark.css);

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}
